@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: #f4d04e;
}

body {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

.blog-preview-card {
  background-color: #ffffff;
  max-width: 384px;
  width: 100%;
  margin: auto;
  max-height: 522px;
  font-family: "Figtree", sans-serif;
  height: 100%;
  border-radius: 20px;
  padding: 1.5rem;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  border: 1px solid #111111;
  box-shadow: 10px 10px 0 #111111;
}

img {
  max-width: 336px;
  max-height: 200px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.category {
  background-color: #f4d04e;
  font-size: 0.875rem;
  display: inline-block;
  max-width: 82px;
  width: 100%;
  max-height: 29px;
  height: 100%;
  padding: 0.25rem 0.75rem;
  font-weight: bolder;
}

.date {
  font-size: 0.875rem;
  line-height: 1.312rem;
  font-weight: 450;
  color: #111111;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 800;
}

.description {
  color: #6b6b6b;
  font-size: 1rem;
  font-weight: 450;
}

.user-name {
  font-size: 0.875rem;
  font-weight: 800;
}
