

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: #F4D04E;
}

.blog-preview-card {
    background-color: #ffffff;
    max-width: 384px;
    width: 100%;
}